<?xml version="1.0" encoding="utf-8"?>

 <!-- Please don't add nodes to this file. Add new nodes to navion.launch.-->

<launch>  

    <!-- Navion -->
    <include file="$(find navion_example)/launch/navion.launch" pass_all_args="true" />

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type='rviz' args="-d $(find navion_example)/rviz/config_navion.rviz" output="screen" />
    <include file="$(find nav_rviz)/launch/navion2_urdf_model.launch"/>

    <!-- Vector field in RViz -->
    <node pkg="tsc_utils" type="poses_custom_grid_node.py" name="forward_model_list_pub" respawn="true">
        <param name="~frame_id" type="string" value="mns" />
        <param name="~nx" type="int" value="10" />
        <param name="~ny" type="int" value="7" />
        <param name="~nz" type="int" value="3" />
        <param name="~spacing" type="double" value="0.02" />
        <remap from="~/poses" to="/forward_model/poses"/>
    </node> 

</launch>
